service: messaging-api

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-south-1

resources:
  Resources:
    MessagesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: cloudchat-messages
        AttributeDefinitions:
          - AttributeName: ConversationId
            AttributeType: S
          - AttributeName: MessageSortKey
            AttributeType: S
          - AttributeName: UserId
            AttributeType: S
          - AttributeName: ConversationIndex
            AttributeType: S
        KeySchema:
          - AttributeName: ConversationId
            KeyType: HASH
          - AttributeName: MessageSortKey
            KeyType: RANGE
        GlobalSecondaryIndexes:
          - IndexName: UserConversationsIndex
            KeySchema:
              - AttributeName: UserId
                KeyType: HASH
              - AttributeName: ConversationIndex
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST
