service: messaging-api

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-south-1

resources:
  Resources:
    MessagesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: cloudchat-messages
        AttributeDefinitions:
          - AttributeName: ConversationId
            AttributeType: S
          - AttributeName: MessageSortKey
            AttributeType: S
          - AttributeName: UserId
            AttributeType: S
          - AttributeName: ConversationIndex
            AttributeType: S
        KeySchema:
          - AttributeName: ConversationId
            KeyType: HASH
          - AttributeName: MessageSortKey
            KeyType: RANGE
        GlobalSecondaryIndexes:
          - IndexName: UserConversationsIndex
            KeySchema:
              - AttributeName: UserId
                KeyType: HASH
              - AttributeName: ConversationIndex
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST

    CloudChatUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: cloudchat-users
        UsernameAttributes: [] # use USERNAME, not email as username
        AutoVerifiedAttributes: [] # disable email verification
        AdminCreateUserConfig:
          AllowAdminCreateUserOnly: true
        Schema:
          - Name: email
            AttributeDataType: String
            Required: true
            Mutable: true
          - Name: name
            AttributeDataType: String
            Required: true
            Mutable: true

    CloudChatUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: cloudchat-app-client
        UserPoolId:
          Ref: CloudChatUserPool
        GenerateSecret: false
        ExplicitAuthFlows:
          - ADMIN_NO_SRP_AUTH

  Outputs:
    UserPoolId:
      Value:
        Ref: CloudChatUserPool
    UserPoolClientId:
      Value:
        Ref: CloudChatUserPoolClient
